@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Noto+Sans+JP:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

html,
body {
  overflow: hidden;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}

/* スタイリング */
header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

header .logo{
  font-size: 35px;
  color: white;
}

header ul{
  list-style: none;
}

header ul li{
  display: inline-block;
  margin-right: 25px;
}

header ul li a{
  color: white;
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
}

main{
  position: absolute;
  top: 46%;
  left: 50%;
  color: white;
  transform: translate(-50%, -50%);
  text-align: center;
}

main h1{
  font-size: 3rem;
  white-space: nowrap;
  margin-bottom: 15px;
}

main p{
  font-size: 20px;
}
